/* MessagesComponent's private CSS styles */
h2 {
    color: #0d3f00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  .clear {
    color: #333;
    background-color: #eee;
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  .clear:hover {
    color: rgba(0, 46, 0, 0.432);
    background-color: #1c8f1249;
  }